<mat-expansion-panel class="pathAlgorithms">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{currentPathAlgorithmText}}
        </mat-panel-title>
    </mat-expansion-panel-header>

    <button mat-flat-button color="accent" (click)="bfs()" [disabled]="isPathGenerated$! | async">
        Breadth First Search
    </button>

    <button mat-flat-button color="accent" (click)="dfs()" [disabled]="isPathGenerated$! | async">
        Depth First Search
    </button>

    <button mat-flat-button color="accent" (click)="aStar()" [disabled]="isPathGenerated$! | async">
        A* Search
    </button>

    <button mat-flat-button color="accent" (click)="greedy()" [disabled]="isPathGenerated$! | async">
        Greedy Best First Search
    </button>
</mat-expansion-panel>