#mainContainer {
  border: 5px solid red;
  display: flex;
  justify-content: space-evenly;
  margin: 100px;
  max-height: 1000px;
  background-color: antiquewhite;
}

#mazeContainer {
  min-width: 1000px;
  display: flex;
  justify-content: center;
}

#maze {
  border: 5px solid black;
  width: 405px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sideContainer {
  border: 5px solid orchid;
  width: 200px;
  padding: 0 50px 0 50px;
}

.box {
  width: 25px;
  height: 25px;
  background-color: green;
  border: 1px solid white;
}

.right-border-collapse {
  border-right-color: blue;
  background-color: blue;
}

.left-border-collapse {
  border-left-color: blue;
  background-color: blue;
}

.top-border-collapse {
  border-top-color: blue;
  background-color: blue;
}

.bottom-border-collapse {
  border-bottom-color: blue;
  background-color: blue;
}

.right-border-collapse-black {
  border-right-color: black;
  background-color: black;
}

.left-border-collapse-black {
  border-left-color: black;
  background-color: black;
}

.top-border-collapse-black {
  border-top-color: black;
  background-color: black;
}

.bottom-border-collapse-black {
  border-bottom-color: black;
  background-color: black;
}

.reset-box {
  background-color: green;
  border-color: white;
}
