#mainContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 100px;
  max-height: 1000px;
}

#mazeContainer {
  min-width: 1000px !important;
  min-height: 405px;
  display: flex;
  justify-content: center;
}

#maze {
  width: 594px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 300px;
}

.sideContainer button {
  padding: 10px;
  margin: 10px;
  width: 200px;
  border-radius: 10px;
}

.slideContainer {
  margin-top: 80px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.slide p {
  font-size: 19px;
}

.slide input {
  width: 180px;
}

button:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em red;
  transform: translateY(-0.25em);
}

.box {
  width: 25px;
  height: 25px;
  background-color: green;
  border: 1px solid white;
}

.right-border-collapse {
  border-right-color: blue;
  background-color: blue;
}

.left-border-collapse {
  border-left-color: blue;
  background-color: blue;
}

.top-border-collapse {
  border-top-color: blue;
  background-color: blue;
}

.bottom-border-collapse {
  border-bottom-color: blue;
  background-color: blue;
}

.right-border-collapse-black {
  border-right-color: black;
  background-color: black;
}

.left-border-collapse-black {
  border-left-color: black;
  background-color: black;
}

.top-border-collapse-black {
  border-top-color: black;
  background-color: black;
}

.bottom-border-collapse-black {
  border-bottom-color: black;
  background-color: black;
}

.reset-box {
  background-color: green;
  border-color: white;
}

.right-border-collapse-all-paths {
  border-right-color: rgb(185, 83, 83);
  background-color: rgb(185, 83, 83);
}

.left-border-collapse-all-paths {
  border-left-color:  rgb(185, 83, 83);
  background-color:  rgb(185, 83, 83);
}

.top-border-collapse-all-paths {
  border-top-color:  rgb(185, 83, 83);
  background-color:  rgb(185, 83, 83);
}

.bottom-border-collapse-all-paths {
  border-bottom-color:  rgb(185, 83, 83);
  background-color:  rgb(185, 83, 83);
}


.right-border-collapse-best-path {
  border-right-color: rgb(0, 109, 128);
  background-color: rgb(0, 109, 128);
}

.left-border-collapse-best-path {
  border-left-color: rgb(0, 109, 128);;
  background-color: rgb(0, 109, 128);;
}

.top-border-collapse-best-path {
  border-top-color: rgb(0, 109, 128);;
  background-color: rgb(0, 109, 128);;
}

.bottom-border-collapse-best-path {
  border-bottom-color: rgb(0, 109, 128);;
  background-color: rgb(0, 109, 128);;
}
