#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 99vw;
  margin: auto;
  position: relative;
}

#mazeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#maze {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-bar {
  width: 100%;
  margin-bottom: 50px;
}

.animationSpeed {
  width: 16%;
  position: absolute;
  top: 0px;
  left: 4%;
  margin: auto;
}

.mazeAlgorithms {
  width: 16%;
  position: absolute;
  top: 0px;
  left:22%;
  margin: auto;
}

#buttonContainer {
  width: 16%;
  position: absolute;
  top: 0px;
  left: 42%;
  margin: auto;
  margin-top: 3px;
}

.pathAlgorithms {
  width: 16%;
  position: absolute;
  top: 0px;
  left: 62%;
  margin: auto;
}

mat-expansion-panel button, .slide, .speed-slide {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  gap:20px;
}

.slide mat-label {
  margin-top: 15px;
}

#buttonContainer button{
  width: 40%;
  height: 45px;
  margin: 0 5% 0 5%;
}

.slider {
  width: 16%;
  position: absolute;
  top: 0px;
  left: 80%;
  margin: auto;
}

button:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em red;
  transform: translateY(-0.25em);
}

.box {
  background-color: rgba(0, 247, 255, 0.835);
  border: 1px solid rgb(138, 133, 133);
}

.right-border-collapse {
  border-right-color: rgb(79, 79, 255);
  background-color: rgb(79, 79, 255);
}

.left-border-collapse {
  border-left-color: rgb(79, 79, 255);
  background-color: rgb(79, 79, 255);
}

.top-border-collapse {
  border-top-color: rgb(79, 79, 255);
  background-color: rgb(79, 79, 255);
}

.bottom-border-collapse {
  border-bottom-color: rgb(79, 79, 255);
  background-color: rgb(79, 79, 255);
}

.right-border-collapse-black {
  border-right-color: black;
  background-color: black;
}

.left-border-collapse-black {
  border-left-color: black;
  background-color: black;
}

.top-border-collapse-black {
  border-top-color: black;
  background-color: black;
}

.bottom-border-collapse-black {
  border-bottom-color: black;
  background-color: black;
}

.right-border-collapse-all-paths {
  border-right-color: rgb(21, 219, 226);
  background-color: rgb(21, 219, 226);
}

.left-border-collapse-all-paths {
  border-left-color:  rgb(21, 219, 226);
  background-color: rgb(21, 219, 226);
}

.top-border-collapse-all-paths {
  border-top-color:  rgb(21, 219, 226);
  background-color:  rgb(21, 219, 226);
}

.bottom-border-collapse-all-paths {
  border-bottom-color:  rgb(21, 219, 226);
  background-color:  rgb(21, 219, 226);
}

.right-border-collapse-best-path {
  border-right-color: rgb(234, 245, 78);
  background-color: rgb(234, 245, 78);
}

.left-border-collapse-best-path {
  border-left-color: rgb(234, 245, 78);
  background-color: rgb(234, 245, 78);
}

.top-border-collapse-best-path {
  border-top-color: rgb(234, 245, 78);
  background-color: rgb(234, 245, 78);
}

.bottom-border-collapse-best-path {
  border-bottom-color: rgb(234, 245, 78);
  background-color: rgb(234, 245, 78);
}

@media only screen and (max-width: 1350px) {

  mat-expansion-panel-header {
    height: 40px;
  }

  .animationSpeed {
    left: 8%;
    width: 30%;
    top: 45px;
    
  }

  .mazeAlgorithms {
    width: 30%;
    left: 8%;
    z-index: 1;
  }

  .pathAlgorithms {
    left: 62%;
    width: 30%;
    z-index: 1;
  }

  .slider {
    left: 62%;
    width: 30%;
    top: 45px;
  }


  #buttonContainer {
    left: 45.5%;
  }

  #buttonContainer button {
    width: 50%;
    height: 40px;
    margin-bottom: 3px;
  }
}

@media only screen and (max-width: 900px) {
  .animationSpeed {
    left: 2%;
    width: 40%;
  }

  .mazeAlgorithms {
    width: 40%;
    left: 2%;
  }

  .pathAlgorithms {
    left: 59%;
    width: 40%;
   
  }

  .slider {
    left: 59%;;
    width: 40%;
  }

  #buttonContainer {
    left: 44%;

  }

  #buttonContainer button {
    width: 70%;
  }
}

@media only screen and (max-width: 650px) {

  mat-expansion-panel-header {
    height: 25px;
  }

  .animationSpeed {
    left: 0%;
    width: 74%;
    top: 60px;
    z-index: 2;
  }

  .mazeAlgorithms {
    width: 74%;
    left: 0%;
    top: 0%;
    z-index: 4;
  }

  .pathAlgorithms {
    left: 0%;
    width: 74%;
   top: 30px;
   z-index: 3;
  }

  .slider {
    left: 0%;;
    width: 74%;
    top: 90px;
    z-index: 1;
  }

  #buttonContainer {
    left: 76%;
    width: 24%;
  }

  #buttonContainer button {
    width: 85%;
  }

  #mazeContainer {
    margin-top: 100px;
  }
}

