<div id="mainContainer">
  <div class="sideContainer">
    <button [disabled]="isAnimating || isAlgorithmSet" (click)="createRandomizedDFSMaze()">
      Depth First
    </button>
    <button [disabled]="isAnimating || isAlgorithmSet" (click)="createBinarySearchMaze()">
      Binary Tree
    </button>

    <button [disabled]="isAnimating || isAlgorithmSet" (click)="createRandomizedKruskalMaze()">
      Kruskal
    </button>

    <button [disabled]="isAnimating || isAlgorithmSet" (click)="createRandomizedPrimsMaze()">
      Prim
    </button>

    <button (click)="bfs()">
      BFS
    </button>

    <button (click)="dfs()">
      DFS
    </button>
    <button [disabled]="isAnimating || !isAlgorithmSet" (click)="animateMazeGeneration()">
      Animate
    </button>
    <button [disabled]="isAnimating" (click)="resetAll()">Reset</button>
    <div class="slide">
      <mat-label>Width</mat-label>
      <mat-slider #width [disabled]="isAnimating || isAlgorithmSet" min="5" [max]="maxNumOfBoxColumn"
        [value]="currentNumOfBoxColumn" (input)="setWidth(width.value)"></mat-slider>
    </div>

    <div class="slide">
      <mat-label>Height</mat-label>
      <mat-slider #height [disabled]="isAnimating || isAlgorithmSet" min="5" [max]="maxNumOfBoxRow"
        [value]="currentNumOfBoxRow" (input)="setWidth(height.value)"></mat-slider>
    </div>
  </div>


  <div id="mazeContainer" #mazeContainer>
    <div id="maze" [style.width.px]="mazeWidthInPx">
      <ng-container *ngFor="let i of length">
        <div id="{{ 'box' + i }}" class="box" [style.height.px]="boxWidthAndHeightInPx"
          [style.width.px]="boxWidthAndHeightInPx"></div>
      </ng-container>
    </div>
  </div>

</div>