<nav role="navigation">
    <ul>
        <li><a href="#" aria-haspopup="true">Maze Algorithms</a>
            <ul class="dropdown" aria-label="submenu">
                <li><a href="#">Randomized DFS</a></li>
                <li><a href="#">Randomized Prim's</a></li>
                <li><a href="#">Randomized Kruskal's</a></li>
                <li><a href="#">Binary Tree</a></li>
            </ul>
        </li>

        <li><a href="#" aria-haspopup="true">Path Algorithms</a>
            <ul class="dropdown" aria-label="submenu">
                <li><a href="#">Depth First Search</a></li>
                <li><a href="#">Breadth First Search</a></li>
                <li><a href="#">A* Search</a></li>
                <li><a href="#">Binary Tree</a></li>
            </ul>
        </li>
    </ul>
</nav>