app-animation-speed {
  width: 16%;
  position: absolute;
  top: 0px;
  left: 4%;
  margin: auto;
}

app-maze-algo {
  width: 16%;
  position: absolute;
  top: 0px;
  left:22%;
  margin: auto;
}

app-button-container {
  width: 16%;
  position: absolute;
  top: 0px;
  left: 42%;
  margin: auto;
  margin-top: 3px;
}

app-path-algo {
  width: 16%;
  position: absolute;
  top: 0px;
  left: 62%;
  margin: auto;
}

app-maze-size {
  width: 16%;
  position: absolute;
  top: 0px;
  left: 80%;
  margin: auto;
}

@media only screen and (max-width: 1350px) {

  app-animation-speed {
    left: 8%;
    width: 30%;
    top: 45px;
    
  }

  app-maze-algo {
    width: 30%;
    left: 8%;
    z-index: 1;
  }

  app-path-algo {
    left: 62%;
    width: 30%;
    z-index: 1;
  }

  app-maze-size {
    left: 62%;
    width: 30%;
    top: 45px;
  }

  app-button-container {
    left: 45.5%;
  }
}

@media only screen and (max-width: 900px) {
  app-animation-speed {
    left: 2%;
    width: 40%;
  }

  app-maze-algo {
    width: 40%;
    left: 2%;
  }

  app-path-algo {
    left: 59%;
    width: 40%;
   
  }

  app-maze-size {
    left: 59%;;
    width: 40%;
  }

  app-button-container {
    left: 44%;

  }
}

@media only screen and (max-width: 650px) {

  mat-expansion-panel-header {
    height: 25px;
  }

  app-animation-speed {
    left: 0%;
    width: 74%;
    top: 60px;
    z-index: 2;
  }

  app-maze-algo {
    width: 74%;
    left: 0%;
    top: 0%;
    z-index: 4;
  }

  app-path-algo {
    left: 0%;
    width: 74%;
   top: 30px;
   z-index: 3;
  }

  app-maze-size {
    left: 0%;;
    width: 74%;
    top: 90px;
    z-index: 1;
  }

  app-button-container {
    left: 76%;
    width: 24%;
  }
}

