<mat-expansion-panel #mep="matExpansionPanel" class="slider">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{currentMazeWidthHeightText}}
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="slide">
        <mat-label>Width</mat-label>
        <mat-slider #width
            [disabled]="(isAnimating$ | async) || (isMazeGenerated$ | async) || (isPathGenerated$ | async)" min="5"
            [max]="mazeMaxWidth$ | async" [value]="mazeWidth$ | async" (input)="setWidth(width.value || 0)">
        </mat-slider>

    </div>

    <div class="slide">
        <mat-label>Height</mat-label>
        <mat-slider #height
            [disabled]="(isAnimating$ | async) || (isMazeGenerated$ | async) || (isPathGenerated$ | async)" min="5"
            [max]="mazeMaxHeight$ | async" [value]="mazeHeight$ | async" (input)="setHeight(height.value || 0)">
        </mat-slider>
    </div>