@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    background-color: rgb(236, 223, 223);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

font-size: 20px}

button:hover:enabled {
    box-shadow: 0 0.5em 0.5em -0.4em red;
    transform: translateY(-0.25em);
  }


  
