@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    background-color: rgba(246, 243, 243, 0.527);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

font-size: 20px}
